/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
       #map {
        height: 100%;
        width: 77%;
        margin: auto;
      }
      
      /* Optional: Makes the sample page fill the window. */
      html,
      body {
        height: 80%;
        margin: 0;
        padding: 0;
      }

      .nav-item:hover{
        background: #eee;
        border-radius: 45px;
      }

      #navvy:hover{
        background: #eee;
        border-radius: 45px;
      }


  /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
       #map {
        height: 100%;
        width: 100%;
        margin: auto;
    }

    /* Optional: Makes the sample page fill the window. */
    html,
    body {
        height: 80%;
        margin: 0;
        padding: 0;
    }

    .nav-item:hover {
        background: #eee;
        border-radius: 45px;
    }

    #navvy:hover {
        background: #eee;
        border-radius: 45px;
    }

    a.nav-link {
        color: #000;
        font-weight: bold;
        font-size: 16px;
    }

    /* label {
        font-weight: bold;
        text-align: center;
    } */

    #map {
      height: 50vh;
      width: 100%;
    }

  #signInContainer,#signUp {
      max-width: 350px;
  }


    @media(max-width:1199px) {
        a.nav-link {
            color: #000;
            font-weight: bold;
            font-size: 14px;
            padding: 0 10px;
        }
    }


    .form-warpper label{
      width:100%;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    @media(max-width:576px){
      .form-warpper .form-control{
        margin-bottom: 10px;
      }
      .form-warpper label{
        margin-bottom:0;
      }
      .button-wrap label{
        display:none;
      }
      .button-wrap .btn{
        float:right;
      }
    }