<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/app.css">
    <title><%= pageTitle %></title>
    <script defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAdsanca_IXvSsr1d1Im_dFoWJkARmZLCw&libraries=visualization&callback=initMap">
        </script>
</head>

<body>

    <!-- <section class="header11 cid-qv5D4nkUot" id="header11-46" data-rv-view="5551"> -->

    <!-- Block parameters controls (Blue "Gear" panel) -->

    <!-- End block parameters -->

    <!-- 
        <div class="container align-left">
            <div class="media-container-column mbr-white col-md-12">

                <h1 class="mbr-section-title py-3 mbr-fonts-style display-1">HTML5 Map Template</h1>

                <div class="mbr-section-btn py-4"><a class="btn btn-md btn-black display-4"
                        href="https://mobirise.com/mobirise-free-templates.zip">DOWNLOAD FREE TEMPLATE</a>
                    <a class="btn btn-md btn-black-outline display-4" href="map-template.html#map1-30">LIVE DEMO</a>
                </div>
            </div>
        </div> -->


    </section>

    <div class="container">

        <ul class="nav mt-sm-5">
            <li class="nav-item">
                <a class="nav-link active" href="/">Home</a>
            </li>
            <% if (user != null) { %>
            <li class="nav-item">
                <a class="nav-link active" href="/users/upload">Uploads</a>
            </li>
            <% } %>

            <% if (user === null) { %>
            <li class="nav-item offset-xl-9 offset-lg-8 offset-md-7">
                <a class="nav-link" href="user/signup">Sign Up</a>
            </li>
            <li class="nav-item ml-auto">
                <a class="nav-link" href="user/login">Log In</a>
            </li>
            <%} else { %>
            <li class="nav-item ml-auto">
                <a class="nav-link" href="/user/logout">Sign Out</a>
            </li>
            <% } %>

        </ul>


        <div class="container mb-4">
            <div class="col-12 mt-5">
                <div class="row">
                    <label class="col-2 text-left" for="rating">Prize Category</label>

                    <label class="col-4 text-left" for="4numbers">Search Numbers</label>

                    <label class="col-3 text-left" for="occurance">Appeared most at</label>

                    <label class="col-3 text-left" for="paidout">Paid out most at</label>
                </div>
            </div>




            <div class="form-group row">

                <div class="col-6">
                    <div class="row">
                        <select class="form-control col-4" id="Prize" name="prize">
                            <option value="">All Prize</option>
                            <option value="3000">1st Prize</option>
                            <option value="2000">2nd Prize</option>
                            <option value="1000">3rd Prize</option>
                        </select>

                        <div class="input-group col-8">
                            <input id="queryNum" type="text" class="form-control" placeholder="0000 to 9999"
                                aria-label="Text input with segmented dropdown button">
                            <div class="input-group-append">
                                <button onclick="queryNum()" type="button"
                                    class="btn btn-outline-secondary">Submit</button>
                                <!-- <button type="button"
                                    class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button> -->
                                <!-- <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Select All Numbers</a>
                                    <div role="separator" class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Separated link</a>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-6">
                    <div class="row">
                        <div class="col-6" id="xLocation"></div>
                        <div class="col-6" id="paidLocation"></div>
                    </div>
                </div>

            </div>
        </div>



    </div>
    <p id="defaultData" style="display: none"><%=data %></p>
    <div id="map"></div>



    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
    <script src="/js/app.js"></script>
</body>

</html>