<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="css/app.css">
    <title><%= pageTitle %></title>

    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAdsanca_IXvSsr1d1Im_dFoWJkARmZLCw&callback=initMap&libraries=visualization&v=weekly"
        defer></script>
</head>

<body>

    <div class="container">
        <ul class="nav mt-5">
            <li class="nav-item mr-auto">
                <a class="nav-link active" href="/">Home</a>
            </li>
            <li class="nav-item mr-5">
                <a class="nav-link" href="users/register">Sign Up</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="users/login">Log In</a>
            </li>
        </ul>

        <div class="container mb-4">

            <div class="d-flex flex-row mt-4">
                <label class="col-3" for="rating">Prize Category</label>

                <label class="col-3" for="4numbers">Select Numbers</label>
            </div>
            <div class="form-group d-flex flex-row">

                <select class="form-control col-2" id="Prize" name="prize">
                    <option>All Prize</option>
                    <option>1st Prize</option>
                    <option>2nd Prize</option>
                    <option>3rd Prize</option>
                </select>
                <select class="form-control col-1" id="" name="num1">
                    <option>0</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                </select>
                <select class="form-control col-1" id="" name="num1">
                    <option>0</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                </select>
                <select class="form-control col-1" id="" name="num1">
                    <option>0</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                </select>
                <select class="form-control col-1" id="" name="num1">
                    <option>0</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                </select>

                <input class="btn btn-primary" type="submit" value="Submit">
            </div>
        </div>



    </div>
    <div id="map"></div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
    <script src="/js/app.js"></script>
</body>

</html>